<template>
  <div>
    <form>
      <fieldset>
        <div class="form-group">
          <label for="title" class="col-sm-2 col-form-label">Title</label>
          <input
            type="text"
            class="form-control"
            id="title"
            aria-describedby="title"
            placeholder="Enter post title"
            v-model="form.title"
          />
          <span class="error" v-if="errorTitle">{{ this.errors.title }}</span>
        </div>
        <div class="form-group">
          <label for="body" class="form-label mt-4">Body</label>
          <textarea
            class="form-control"
            id="body"
            rows="3"
            v-model="form.body"
          ></textarea>
        </div>
        <button type="submit" class="btn btn-primary mt-2" @click.prevent="sumbitForm">
          Submit
        </button>
      </fieldset>
    </form>
    <p v-if="successPost" class="mt-5">Пост сохранен!</p>
  </div>
</template>

<script>
export default {
  name: "form.vue",
  data: () => ({
    error: false,
    successPost: false,
    form: {
      title: "",
      body: "",
    },
    errors: {
      title: "Обязательное поле!",
    },
  }),

  computed: {
    errorTitle() {
      return this.error && this.form.title == "";
    },
  },

  methods: {
    sumbitForm() {
      if (this.form.title == "") {
        this.error = true;
        return false;
      } else {
        this.error = false;
        let formData = this.form;
        this.$store.commit("ADD_POST", formData, { module: "posts" });
        this.successPost = true;
        setTimeout(() => {
          this.successPost = false;
        }, 1000);
      }
    },
  },
};
</script>

<style scoped>
.error {
  display: block;
  color: red;
  font-size: 13px;
  margin-top: 10px;
}
.mt-5 {
  margin-top: 10px;
}
</style>
