<template>
  <div>
    <loader v-if="loader"/>
    <postCard v-for="(post, index) in posts" :key="index" :post="post" />
  </div>
</template>

<script>
import postCard from "@/components/PostCard";
import loader from "@/components/Loader";

export default {
  name: "index",
  components: {
    postCard,
    loader
  },

  computed: {
    posts() {
      return this.$store.getters.allPosts;
    },
    loader(){
      return this.$store.state.posts.loader;
    }
  },

  async mounted() {
    this.$store.dispatch("getPosts");
  },
};
</script>

<style scoped></style>
