<template>
  <form action="" class="edit-post_form">
    <input type="text" placeholder="title" v-model="form.title" />
    <textarea
      name=""
      id=""
      cols="30"
      rows="3"
      placeholder="body"
      v-model="form.body"
    ></textarea>
    <button @click.prevent="saveNewData(id)" class="btn_save">Save new data</button>
  </form>
</template>

<script>
export default {
  props: {
    id: {
      type: Number,
      require: true,
    },
  },
  data: () => ({
    form: {
      title: "",
      body: "",
    },
  }),

  methods: {
    saveNewData(id) {
      const newPostData = this.form;
      this.$store.commit(
        "SAVE_NEW_DATA",
        { id, newPostData: newPostData },
        { module: "posts" }
      );
      this.$emit("saveNewData");
    },
  },
};
</script>

<style></style>
