<template>
  <div>
    <div class="card mb-3 mt-3">
      <span class="delete_post" @click="deletePost(post.id)">&#215;</span>
      <div class="card-body">
        <h4 class="card-title">{{ post.title }}</h4>
        <p class="card-text">
          {{ post.body }}
        </p>
        <edit-card-data v-if="editForm" :id="post.id" @saveNewData="editForm = false" />
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
        <a href="#" class="card-link" @click.prevent="editForm = !editForm">Edit task</a>
      </div>
    </div>
  </div>
</template>

<script>
import editCardData from "./EditCardData.vue";

export default {
  name: "Post card",
  components: {
    editCardData,
  },
  data: () => ({
    editForm: false,
  }),
  props: {
    post: {
      type: Object,
      require: true,
    },
  },

  methods: {
    deletePost(id) {
      this.$store.commit("DELETE_POST", id, { module: "posts" });
    },
  },
};
</script>

<style lang="scss">
.delete_post {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 30px;
  line-height: 20px;
  cursor: pointer;
}
.edit-post_form {
  max-width: 50%;
  margin-bottom: 20px;
  input,
  textarea {
    width: 100%;
    display: block;
    margin-bottom: 20px;
    padding: 5px 10px;
    border-style: solid;
    border-color: #ccc;
    border-radius: 10px;
    &:focus {
      outline: none;
    }
  }
  .btn_save {
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
  }
}
</style>
